<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" class="header">
      To Do
    </ion-item>
    <ion-item *ngFor="let todo of todoList;let i = index"> 
      <ion-label>
        {{todo}}
      </ion-label>
      <ion-icon name="close-circle-outline" slot="end" (click)="deleteItem(i)">
      </ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-item class="ion-no-padding">
    <ion-input class="ion-no-padding" placeholder="Add ToDo here" id="input-text" [(ngModel)]="todoInput" (keyup.enter)="addItem()"> 

    </ion-input>
  </ion-item>
  <ion-button class="ion-margin-top" expand="block" (click)="addItem()">Add</ion-button>
</ion-footer>